@import 'reset.css';

/* Mobile styles */

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
}
a{
    text-decoration: none;
}
/* NAV */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: rgb(54, 54, 54);
    width: 100%;
    position: fixed;
    top: 0;
    font-family: "Poppins";
    z-index: 2;
}
.homebutton img{
    padding: 10px;  
    height: 35px;
}
.mobilemenu{
    padding: 10px;
}
.desktopmenu {
    display:none
}
.menu{
    display: none;
    position: absolute;
    z-index: 2;

}
.menu a {
    color: white;
    padding: 15px;
    display: block;
    background-color:rgb(54, 54, 54);
    justify-content: space-evenly;
}
.mobilemenu:hover > .menu {
    display:block;
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0;
    width: 100%;
    height: 200px;
}
.menu a:hover {
    background-color: rgb(129, 129, 129);
}
/* INTRO */
.background {
    background-image: url("/imgs/bg.jpg");
    background-position: center;
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
}

.intro{
    display: flex;
    flex-direction: column; 
    width: 75%;
    color: white;
    border: solid white 3px;
    padding: 0px;
    margin: 0 auto;
    justify-content: space-between;
}

h1{
    font-size: 2.5em;
    line-height: 150%;
    margin: 20px;
    text-align: left;
}
.intro h2{
    font-size: 2em;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: white dotted 1.5px ;
}
.textintro{
    background-color: rgba(54, 54, 54, 0.5)
}
.textintro p {
    column-count: 2;
    padding: 20px;
}
/* FEATURES */

.features{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 90%;
    justify-content: space-evenly;
    padding-top: 10px;
}
.features h3 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 30px;
} 
.feature img{
    height: 50px;
    padding: 15px;
}
.feature {
    width: 400px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    -webkit-box-shadow: -1px 3px 16px 6px rgba(209,209,209,1);
    -moz-box-shadow: -1px 3px 16px 6px rgba(209,209,209,1);
    box-shadow: -1px 3px 16px 6px rgba(209,209,209,1);
    line-height: 150%;
}
.feature p {
    padding: 20px;
} 
.feature button{
    background-color:rgb(54, 54, 54) ;
    color: white;
    border: none;
    padding: 20px 160px;
    margin-bottom: 20px;
}
/* COOL TEXT */
.cooltext {
    margin-top: 10px;
    background-color:rgb(54, 54, 54) ;
    color : white;
    padding: 90px;
}
.cooltext h2{
    font-size: 2em;
    line-height: 200%;
}

.cooltext p {
    line-height: 150%;
}
/* ANIMATION */

.animation {
    position: relative;
    top: -10vh;
    left: 10%;
    background-color:rgb(54, 54, 54);
    border: solid white;
    text-align: center;
    height: 20vh;
    width: 40vh;
    z-index: 1;
}

.animation h4 {
    font-size: 1.5em;
    color: red;
    padding: 20px;
}

.animation p {
    color: white;
}
.animation:hover {
    animation: rotation 2s infinite;
}

@keyframes rotation {
50% {transform: rotate(180deg)}
60% {left :20% ;transform: rotate(270deg) }
}

/* SLICK GRADIENT */

.slickgradient {
    position: relative;
    top: -157px;
    background: rgb(2,0,36);
    background:  linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(43,191,218,0.7430322470785189) 20%, rgba(69,84,180,1) 100%);
    text-align: right;
    padding: 50px;
    z-index: -1;
    min-height: 40vh;
}

.slickgradient h2{
    font-size: 2em;
    color: white;
    padding: 50px;

}

.slickgradient p{
    color: white;
    padding-right: 50px;
}
/* IMAGE GALLERY */
.images {
    position: relative;
    top: -157px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.content a {
    font-size: 1.5em;
    color: white;
    visibility: hidden;
    transition: visibility ease-in-out 0.05s;
}

.image:hover > .content a {
    visibility: visible;
}

.tesla {
    background-image: url(/imgs/tesla.jpg);
}

.procat{
    background-image: url(/imgs/procat.jpg);
}

.hyperloop{
    background-image: url(/imgs/hyperloop.jpg);
}

.sneakycat {
    background-image: url(/imgs/sneakycat.jpg);
}

.blimp {
    background-image: url(/imgs/falconrocket.jpeg);
}

.funnycat {
    background-image: url(/imgs/funnycat.jpg);
}

/* EMAIL FORM */
.email {
    text-align: center;
    line-height: 150%;
}
.email label {
    display: block;

}
.email input {
    display: flex;
    text-align: bottom;
    height : 30px;
}

.email-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.email .submit{
    border: solid rgb(136, 136, 136);
    border-left: 0 ;
    border-radius: 3px;
    background-color: rgb(136, 136, 136);
    text-decoration: none;
}

.checkbox {
    display: flex;
    justify-content: center;
    line-height: 150%;
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(54, 54, 54);
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    line-height: 1.5em;
}

.footerlinks{
    display: block;
    columns: 2;
    width: 50%;
}

.footerlinks ul {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

}
.footerlinks a{
    color: rgb(136, 136, 136);
}


@media (min-width: 768px) {
    .desktopmenu {
        display: inline;
    }
    .desktopmenu a {
        color: white;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 8px;
    }
    .desktopmenu > a:hover{
        border-bottom: white solid 3px;
    }
    .mobilemenu{
        display: none;
    }

    .intro {
        display: flex;
        flex-flow: row wrap;
    }
    h1{
        width: 30%;
    }
    .textintro{
        width: 60%;
    }
    .images{
        flex-grow: 1/3;
        }
    .footerlinks{
        columns: 4;
    }
    .images{
        display: flex;
        flex-wrap: wrap;
    }
    .image{
        width: calc(100%/3);
    }
}