@import 'reset.css';

/* Mobile styles */

body {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: rgb(54, 54, 54);
    width: 100%;
    position: fixed;
    top: 0;
    font-family: "Poppins";
}
.homebutton img{
    padding: 10px;  
    height: 35px;
}
.mobilemenu{
    padding: 10px;
}
.desktopmenu {
    display:none
}
.menu{
    display: none;
    position: absolute;
    z-index: 1;

}
.menu a {
    color: white;
    padding: 15px;
    display: block;
    background-color:rgb(54, 54, 54);
    justify-content: space-evenly;
}
.mobilemenu:hover > .menu {
    display:block;
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0;
    width: 100%;
    height: 200px;
}
.menu a:hover {
    background-color: rgb(129, 129, 129);
}

.background {
    background-image: url("/imgs/bg.jpg");
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
}

.intro{
    display: flex;
    flex-direction: column; 
    width: 75%;
    color: white;
    border: solid white 3px;
    padding: 0px;
    margin: 0 auto;
    justify-content: space-between;
}

h1{
    font-size: 2.5em;
    line-height: 150%;
    margin: 20px;
    text-align: left;
}
.intro h2{
    font-size: 2em;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: white dotted 1.5px ;
}
.textintro{
    background-color: rgba(54, 54, 54, 0.5)
}
.textintro p {
    column-count: 2;
    padding: 20px;
}

.features{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    padding-top: 10px;
}
.features h3 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 30px;
}
.feature img{
    height: 50px;
    padding: 15px;
}
.feature{
    width: 400px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    -webkit-box-shadow: -1px 3px 16px 6px rgba(209,209,209,1);
    -moz-box-shadow: -1px 3px 16px 6px rgba(209,209,209,1);
    box-shadow: -1px 3px 16px 6px rgba(209,209,209,1);
    line-height: 150%;
}
.feature p {
    padding: 20px;
} 
.feature button{
    background-color:rgb(54, 54, 54) ;
    color: white;
    border: none;
    padding: 20px 160px;
    margin-bottom: 20px;
}

.cooltext {
    margin-top: 30px;
    background-color:rgb(54, 54, 54) ;
    color : white;
}
.cooltext h2{
    font-size: 2em;
    padding: 50px;
}

.cooltext p {
    padding: 20px;
}

footer{
    position: relative;
    top: 40px;
}
@media (min-width: 768px) {
    .desktopmenu {
        display: inline;
    }
    .desktopmenu a {
        color: white;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 8px;
    }
    .desktopmenu > a:hover{
        border-bottom: white solid 3px;
    }
    .mobilemenu{
        display: none;
    }

    .intro {
        display: flex;
        flex-flow: row wrap;
    }
    h1{
        width: 30%;
    }
    .textintro{
        width: 60%;
    }
}